<!--
 * @file branding.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-04-09
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * @version 0.0
 *
 * @brief HTML code to render TODO 4th TODO screen 
 *	
 * @section DESCRIPTION
 * 
 * Let user select which custom image will be LASER etched on their coconut in the CoCoTaps 
 * Tapomatic Commercial Powered Food Preparation Equipment (aka Tapo kiosk).
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 -->
<html lang="en">
  <head>
    <title> Add Brand </title>

     <!--
      * CSS STUFF HERE
      * Try using Arial typeface first and Source Sans Pro last
      * REMOVE BORDER STYLING IN PRODUCTION CODE
      -->
      <!-- custom styles -->
    <link rel="stylesheet" href="./static/assets/styles/main.css">
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = RumCoConut;

	  var fontSize = 60; /*Units are pixels*/
	  var timeLeft = 10; /*Units are seconds*/
    </script>

    <main>
        <div class="container flex-column flex-container justify-space-between">
            <div class="flex-container justify-center">
                <img class="side-main-img" src="../static/images/red-bull.jpeg" alt="red bull image">
            </div>
            <div class="text-center">
                <h1 class="option-title">Select image for the side of our coconut from list below</h1>
            </div>
            <div class="flex-container justify-space-between flex-wrap">
                <div class="side-option border-box text-center">
                    <a href="{{ url_for('Health', userselection='coco_taps') }}", method="GET" >
                    <button >
                            <img class="side-option-img" src="../static/images/coco-taps.jpeg" alt="coco taps option">
                    </button>
                    </a>
                </div>
                <div class="side-option border-box text-center">
                <a href="{{ url_for('Health', userselection='red_bull') }}", method="GET" >
                    <button>
                        <img class="side-option-img" src="../static/images/red-bull.jpeg" alt="red bull option">
                    </button>
                </a>
                </div>
                <div class="side-option border-box text-center">
                <a href="{{ url_for('Health', userselection='island') }}", method="GET" >
                    <button>
                     <img class="side-option-img" src="../static/images/tresaure-island.PNG" alt="treasure island option">
                    </button>
                </a>
                </div>
                <div class="side-option border-box text-center">
                <a href="{{ url_for('Health', userselection='caesars_palace') }}", method="GET" >
                    <button>
                        <img class="side-option-img" src="../static/images/caesars-palace.jpeg" alt="caesars palace option">
                    </button>
                </a>
                </div>
                <div class="side-option border-box text-center">
                <a href="{{ url_for('Health', userselection='rio_side') }}", method="GET" >
                    <button>
                        <img class="side-option-img" src="../static/images/rio.jpeg" alt="rio side option">
                    </button>
                </a>
                </div>
                <div class="side-option border-box text-center">
                <a href="{{ url_for('Health', userselection='mgm_grand') }}", method="GET" >
                    <button>
                        <img class="side-option-img" src="../static/images/mgm-grand.jpeg" alt="mgm grand option">
                    </button>
                </a>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>
