<!--
 * @file flavor.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-03-19
 * @link https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow
 * @version 0.0
 *
 * @brief Code to render infuse flavor (3rd screen) for Tapomatic food service system
 *
 * @section DESCRIPTION
 *
 * Brand colors:
 * Dark Green (0x086D38), Light Green (0x86C042),
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 *
 -->
<html lang="en">
  <head>
    <title> Add Flavor </title>

    <!--
     * CSS STUFF HERE
     * Try using Arial typeface first and Source Sans Pro last
     * REMOVE BORDER STYLING IN PRODUCTION CODE
     -->
 <!-- custom styles -->
    <link rel="stylesheet" href="./static/assets/styles/main.css">
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = RumCoConut;
	  var fontSize = 60; /*Units are pixels*/
	  var timeLeft = 30; /*Units are seconds*/
    </script>

   <main>
        <div class="container flex-column flex-container justify-space-between">
            <div>
				<center>
                <img class="logo-img" src="../static/images/coco-taps.jpeg" alt="coco taps logo">
				</center>
            </div>
            <div class="text-center">
                <h1 class="count-down">19s</h1>
            </div>
            <div class="flex-container flex-column align-center">
                    <a href="{{ url_for('Waiting', userselection='CBD') }}", method="GET" >
                        <button class="add-option border-box cursor-pointer md-option-button">
                        <h1>Add CBD Supplement for Health Benefits </h1>
                        </button>
                    </a>
                    <a href="{{ url_for('Waiting', userselection='ImmunityBoost') }}", method="GET" >
                        <button class="add-option border-box cursor-pointer md-option-button">
                            <h1>Add Immunity Boost Supplement for Health Benefits</h1>
                        </button>
                    </a>
                     <a href="{{ url_for('Waiting', userselection='DailyVitamins') }}", method="GET" >
                         <button class="add-option border-box cursor-pointer md-option-button">
                             <h1>Add Daily Vitamins Supplement for Health Benefits</h1>
                         </button>
                     </a>
            </div>
        </div>
    </main>
  </body>
</html>
