<!--
 * @file flavor.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-03-19
 * @link https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow
 * @version 0.0
 *
 * @brief Code to render infuse flavor (3rd screen) for Tapomatic food service system
 *	
 * @section DESCRIPTION
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 -->
<html lang="en">
  <head>
    <title> Add Flavor </title>

    <!--
     * CSS STUFF HERE
     * Try using Arial typeface first and Source Sans Pro last
     * REMOVE BORDER STYLING IN PRODUCTION CODE
     --> 
    <!-- custom styles -->
    <link rel="stylesheet" href="./static/assets/styles/main.css">
    <!-- normalize -->
    <link rel="stylesheet" href="./static/assets/styles/normalize.css">
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = RumCoConut;

	  var fontSize = 60; /*Units are pixels*/
	  var timeLeft = 30; /*Units are seconds*/
    </script>

     <main>
        <div class="container flex-column flex-container justify-space-between">
            <div>
                <img class="logo-img" src="../static/images/coco-taps.jpeg" alt="coco taps logo">
            </div>
            <div class="text-center">
                <h1 class="count-down">29s</h1>
            </div>
             <div class="flex-container flex-column align-center">
                 <a href="{{ url_for('Flavor', userselection='RUM') }}", method="GET" >
                    <button class="add-option sm-option-button border-box cursor-pointer">
                        <h1>Add Rum (21+ required)</h1>
                    </button>
                 </a>
                 <a href="{{ url_for('Flavor', userselection='PinaColado') }}", method="GET" >
                    <button class="add-option sm-option-button border-box cursor-pointer">
                        <h1>Add Piña Colada Flavoring</h1>
                    </button>
                 </a>
                 <a href="{{ url_for('Flavor', userselection='Orange') }}", method="GET" >
                    <button class="add-option sm-option-button border-box cursor-pointer">
                        <h1>Add Orange Flavoring</h1>
                    </button>
                 </a>
            </div>
        </div>
    </main>
  </body>
</html>
