<!--
 * @file tapOrCut.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-03-11
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * @version 0.0
 *
 * @brief HTML code to render second screen for the CoCoTaps food service system
 *	
 * @section DESCRIPTION
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 -->
<html lang="en">
  <head>
    <title> Tap or Cut </title>

    <!--TODO CSS STUFF HERE-->
    <!Try using Arial typeface first and Source Sans Pro last> 
    <style type="text/css">
      table {
      	font-family: Arial, Courier New, Source Sans Pro; border: 1px solid black; <!COMMENT OUT BORDER IN PRODUCTION CODE>
      }
      
      button {
      	outline: 1;  <!Turn off annoying blue highlight around button during click>
      }
    </style>
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
	  var fontSize = 60;
    </script>

    <table> 
    <!9 row x 5 column table layout in portrait mode 1080 wide x 1980 tall>
    <!Heigth = 1980 pixels = 40.0 cm on digital ruler thus (6.60 cm * 48) == 316 pixels>
    <!Width  = 1080 pixels = 22.5 cm on digital ruler thus (3.05 cm * 48) == 146 pixels>
    <!3.05 cm x 6.60 cm = 316 - 50 pixels to adjust for Pi 1920 ti 1870>
       
      <tr>  <!ALL BLANK WHITE ROW> 
	<td width="146", height="266"> 
	  <!BLANK CELL>
	</td> <!ROW 1, COL 1>
        <td width="788", height="266">
	  <!BLANK CELL>
        </td> <!ROW 1, COL 2>
        <td width="146", height="266">
	  <!BLANK CELL>
        </td> <!ROW 1, COL 3>
      </tr> <!END ROW #1> 

      <tr>  <!COCOTAPS LOGO ROW>    
	<td width="146" height="357">
	  <!BLANK CELL> 
        </td> <!ROW 2, COL 1>
        <td width="788" height="357"> 
	  <!CoCoTaps Logo is 3155x1428 at full resolution, divide by 4 to get 788x357>
	  <center> <img src="../static/images/CoCoTapsLogoV0.png" / width="788" height="357" alt="CoCoTaps Logo"> </center> 
        </td> <!ROW 2, COL 2>
        <td width="146" height="357">   
	  <!BLANK CELL>     
        </td> <!ROW 2, COL 3>
      </tr> <!END ROW #2> 

      <tr>  <!ALL BLANK WHITE ROW> 
        <td width="146", height="222"> 
	  <!BLANK CELL>
	</td> <!ROW 3, COL 1>
        <td width="788" height="222"> 
	  <!BLANK CELL>
	  <center> <p style="font-size:20px; color: #B8191D;"> Warnings: There is no back / cancel button after this screen. <br> We are performing inreverseable actions in parallel with your selections to speed up the vending process. </center> 
        </td> <!ROW 3, COL 2>
        <td width="146" height="222">
	  <!BLANK CELL>
        </td> <!ROW 3, COL 3>
      </tr> <!END ROW #3>

      <tr> <!TWO BUTTON ROW> 
	<td width="146", height="262"> 
	  <!BLANK CELL>
	</td> <!ROW 4, COL 1>
	<td width="788" height="262">
	  <center>
	  <button style="background-color: #FDFDFD; color: #2A3627; display: inline-block; margin: 20px; padding: 15px 5px; width: 354px; height: 262px; font-weight: bold; font-size: 50; border-radius: 40px;" type="/Press_To_Cut_Top_Off\" value="/Press_To_Cut_Top_Off\">
	  <center> Press to <br> cut top off </center>
	  <button style="background-color: #FDFDFD; color: #2A3627; display: inline-block; margin: 20px; padding: 15px 5px; width: 354px; height: 262px; font-weight: bold; font-size: 50; border-radius: 40px;" type="/Press_To_Tap_Coco\" value="/Press_To_Tap_Coco\" >
	  <center> Press to <br> tap coco </center>
	  </center>
	</td> <!ROW 4, COL 2>
	<td width="146", height="262"> 
	  <!BLANK CELL>
	</td> <!ROW 4, COL 3>
      </tr> <!END ROW #4>
      
      <tr> <!TWO GREEN ARROWS ROW>
	<td width="146", height="262"> 
	  <!BLANK CELL>
	</td> <!ROW 5, COL 1>
	<td width="788" height="262">
	  <!DownGreenArrow.png is 3003x1527 at full resolution, divide by 9 to get 375x170>
	  <!https://owlcation.com/stem/how-to-align-images-side-by-side>
	  <center>
	    <div class="row">
	      <div class="column">
		<img src="../static/images/DownGreenArrow.png" / alt="Down Green Arrow" style="float: left; width:30%; margin: 10%"> 
	      </div>
	      <div class="column">
		<img src="../static/images/DownGreenArrow.png" / alt="Down Green Arrow" style="float: left; width:30%; margin: 10%"> 
	      </div>
	    </div>
	  </center>
	</td> <!ROW 5, COL 2>
	<td width="146", height="262"> 
	  <!BLANK CELL>
	</td> <!ROW 5, COL 3>
      </tr> <!END ROW #5>      
      
      <tr> <!TWO COCONUT IMAGES ROW>
 	<td width="146", height="262"> 
	  <!BLANK CELL>
	</td> <!ROW 6, COL 1>
        <td width="788" height="262">
	  <!https://owlcation.com/stem/how-to-align-images-side-by-side>
	  <center>
	    <div class="row">
	      <div class="column"> <!Full resolution CoCoTapsCoconutTopped.jpg is 2700 x 1326>
		<img src="../static/images/CoCoTapsCoconutTopped.png" / alt="Topped Cococnut" style="float: left; width:50%; margin: %"> 
	      </div>
	      <div class="column"> <!Full resolution CoCoTapsCoconut.jpg is 2700 x 2025>
		<img src="../static/images/CoCoTapsCoconut.png" / alt="Tapped Coconut" style="float: left; width:50%; margin: 0%"> 
	      </div>
	    </div>
	  </cente
	</td> <!ROW 6, COL 2>
        <td width="146" height="2">
            <!BLANK SPACE>
        </td> <!ROW 6, COL 3>
      </tr> <!END ROW #6>

      <tr>  <!ALL BLANK WHITE ROW> 
	<td width="146", height="066"> 
	  <!BLANK CELL>
	</td> <!ROW 7, COL 1>
        <td width="788", height="066">
	  <!BLANK CELL>	  
        </td> <!ROW 7, COL 2>
        <td width="146", height="066">
	  <!BLANK CELL>
        </td> <!ROW 7, COL 3>
      </tr> <!END ROW #7> 

      <tr>  <!ALL BLANK WHITE ROW> 
	<td width="146", height="066"> 
	  <!BLANK CELL>
	</td> <!ROW 8, COL 1>
        <td width="788", height="066">
	  <!BLANK CELL>
        </td> <!ROW 8, COL 2>
        <td width="146", height="066">
	  <!BLANK CELL>
        </td> <!ROW 8, COL 3>
      </tr> <!END ROW #8> 

      <tr>  <!ALL BLANK WHITE ROW> 
	<td width="146", height="020"> 
	  <!BLANK CELL>
	</td> <!ROW 9, COL 1>
        <td width="788", height="020">
	  <!BLANK CELL>
        </td> <!ROW 9, COL 2>
        <td width="146", height="020">
	  <!BLANK CELL>
        </td> <!ROW 9, COL 3>
      </tr> <!END ROW #9> 

    </table>
  </body>
</html>
