<!--
 * @file tapOrCut.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-03-03
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * @version 0.0
 *
 * @brief HTML code to render second screen for the CoCoTaps food service system
 *	
 * @section DESCRIPTION
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 -->
<html lang="en">
  <head>
    <title> Tap or Cut </title>

    <!--TODO CSS STUFF HERE-->
    <style type="text/css">
      
      table {
      	font-family: Arial, Courier New, Source Sans Pro; /* Try using Arial typeface first and Source Sans Pro last */ 
	border: 1px solid black
      }
      
      button {
      	outline: 0;  /* Turn off annoying blue highlight around button during click> */ 
      }
    </style>
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
	  var fontSize = 60;
    </script>

    <table style="width:100%"> 
    <!9 row x 3 AND 5 column table layout in portrait mode 1080 wide x 1980 tall>
    <!Heigth = 1980 pixels = 40.0 cm on digital ruler thus (6.60 cm * 48) == 316 pixels>
    <!Width  = 1080 pixels = 22.5 cm on digital ruler thus (3.05 cm * 48) == 146 pixels>

      <tr width="1010" height="266">  <!ALL BLANK WHITE ROW> 
        <td width="146", height="266"> <!3.05 cm x 6.60 cm = 316 - 50 pixels to adjust for Pi 1920 ti 1870>
        </td> <!ROW 1, COL 1>

        <td width="788", height="266">
        </td> <!ROW 1, COL 2>

        <td width="146", height="266">
        </td> <!ROW 1, COL 3>
	  </tr> <!END ROW #1> 

      <tr>  <!COCOTAPS LOGO ROW>
        <td width="146" height="357"> 
        </td> <!ROW 2, COL 1>

        <td width="788" height="357"> 
	  	  <!CoCoTaps Logo is 3155x1428 at full resolution, divide by 4 to get 788x357>
	  	  <center> <img src="../static/images/CoCoTapsLogoV0.png" / width="788" height="357" alt="CoCoTaps Logo"> </center> 
        </td> <!ROW 2, COL 2>
    
        <td width="146" height="357">        
        </td> <!ROW 2, COL 3>
      </tr> <!END ROW #2> <!1080 x 702>

      <tr>  <!ALL BLANK WHITE ROW> 
        <td width="146" height="222"> <!3.05 cm x 5.45 cm>
        </td> <!ROW 3, COL 1>
        <td width="788" height="222"> 
        </td> <!ROW 3, COL 2>
        <td width="146" height="222">
        </td> <!ROW 3, COL 3>
	  </tr> <!END ROW #3>

      <tr>
	<td width="146" height="262">
	  I
	</td>
	
	<td width="106" height="262">
	  LOVE
	</td>
	
	<td width="146" height="262">
	  YOU
	</td>
	
      </tr>
      
      <tr> <!TWO GREEN ARROWS>
        <td width="146" height="222">
            <!BLANK SPACE>
        </td> <!ROW 5, COL 1>

        <td width="316" height="262">
	  	  <center> <img src="../static/images/DownGreenArrow.png" / width="300" height="153" alt="Down Green Arrow"> </center> 
        </td>
        <td width="156" height="262">
            <!BLANK SPACE>
        </td>
        <td width="316" height="262">
	  	  <center> <img src="../static/images/DownGreenArrow.png" / width="300" height="153" alt="Down Green Arrow"> </center> 
        </td>

        <td width="146" height="222">
            <!BLANK SPACE>
        </td> <!ROW 5, COL 3>
      </tr> <!END ROW #5>

      <tr> <!TWO COCONUT IMAGES>
        <td width="146" height="153">
            <!BLANK SPACE>
        </td> <!ROW 6, COL 1>

        <td width="316" height="262">
          <!Full resolution CoCoTapsCoconutTopped.jpg is 2700 x 1326>
	  	  <center> <img src="../static/images/CoCoTapsCoconutTopped.png" / width="300" height="153" alt="Topped Cococnut"> </center> 
        </td>
        <td width="156" height="262">
            <!BLANK SPACE>
        </td>
        <td width="316" height="262">
          <!Full resolution CoCoTapsCoconut.jpg is 2700 x 2025>
	  	  <center> <img src="../static/images/CoCoTapsCoconut.png" / width="300" height="153" alt="Tapped Coconut"> </center> 
        </td>

        <td width="146" height="153">
            <!BLANK SPACE>
        </td> <!ROW 6, COL 3>
      </tr> <!END ROW #6>

      <tr> <!ONE OR TWO BUTTON OR GREEN ARROW ROW>
        <td width="146" height="153">
        </td> <!ROW 7, COL 1>

        <td width="788" height="153"> <!THE 5 COLUMN LAYOUT WILL HAVE 3 COLUMNS INSIDE THIS CELL>
            <!BLANK SPACE>
	    </td> <!ROW 7, COL 2>

        <td width="146" height="153">
        </td> <!ROW 7, COL 3>
      </tr> <!END ROW #7>

      <tr> <!ONE OR TWO BUTTON OR GREEN ARROW ROW> 
        <td width="146" height="153">
        </td> <!ROW 8, COL 1>
	  
        <td width="788" height="153"> <!THE 5 COLUMN LAYOUT WILL HAVE 3 COLUMNS INSIDE THIS CELL>
            <!BLANK SPACE>
	    </td> <!ROW 8, COL 2>

        <td width="146" height="153">
        </td> <!ROW 8, COL 3>
      </tr> <!END ROW #8>

      <tr> <!ALL BLANK WHITE ROW>
        <td width="146" height="002">
        </td> <!ROW 9, COL 1>

        <td width="788" height="002">
	    </td> <!ROW 9, COL 2>

        <td width="146" height="002">
        </td> <!ROW 9, COL 3>
      </tr> <!END ROW #9>

    </table>
  </body>
</html>
