<!--
 * @file waiting.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-02-18
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * @version 0.0
 *
 * @brief HTML code to render screen with 10 second countdown and video on the CoCoTaps food service system
 *	
 * @section DESCRIPTION
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF,)
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 -->
<html lang="en">
  <head>
    <title> Drilling and tapping coconuts </title>

    <!-- custom styles -->
    <link rel="stylesheet" href="./static/assets/styles/main.css">
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
 	  var timeLeft = 10 <!units are seconds>
	  <!TODO FOR LOOP WITH TIMER>
      var fontSize = 60;

    </script>
<main>
        <div class="container flex-column flex-container justify-space-between">
            <div class="flex-container justify-center">
                <iframe src="https://player.vimeo.com/video/397678826" width="640" height="362" frameborder="0" allow="autoplay"></iframe>
            </div>
            <div class="text-center">
                <h1 class="count-down">09s</h1>
            </div>
            <div class="flex-container justify-center">
                <div class="cursor-pointer flex-container flex-column">
                    <img class="down-arrow" src="../static/images/stretched-up-arrow.png" alt="down arrow">
                    <img class="down-arrow" src="../static/images/stretched-up-arrow.png" alt="down arrow">
                    <img class="down-arrow" src="../static/images/stretched-up-arrow.png" alt="down arrow">
                </div>
            </div>
        </div>
      <a href="{{ url_for('CompleteScreen', userselection='Complete') }}", method="GET" ><p>PRESS</p></a>
    </main>
  </body>
</html>
