<!--
 * @file welcome.html
 * @author Blaze Sanders Robotic Beverage Technologies Inc
 * @date 2020-03-11
 * @link https://aryaboudaie.com/python/technical/educational/web/flask/2018/10/17/flask.html
 * @version 0.0
 *
 * @brief HTML code to render highest level screen for the CoCoTaps food service system
 *	
 * @section DESCRIPTION
 *
 * Brand colors: 
 * Dark Green (0x086D38), Light Green (0x86C042), 
 * Apple White (0xFDFDFD), White (0xFFFFFF),
 * Apple Black (0x010306), Logo Black (0x2A3627)
 * 
 * HTML Help:
 * https://www.brunildo.org/test/space-chars.html [　] ideographic space U+3000
 * https://htmldog.com/guides/html/beginner/forms/
 * sudo lsof -i :5000
 * kill -9 <PID>
 -->
<html lang="en">
  <head>
    <title> Tapomatic v0 </title>

    <!--TODO CSS STUFF HERE-->
    <!Try using Arial typeface first and Source Sans Pro last> 
     <!-- custom styles -->
    <link rel="stylesheet" href="./static/assets/styles/main.css">
    <!-- normalize -->
    <link rel="stylesheet" href="./static/assets/styles/normalize.css">
  </head>

  <body>
    <!--TODO: FIX SCRIPT TO ALLOW USE OF ARRAYS-->
    <script language ="JavaScript">
 	  var drinkID = new Array();
	  drinkID[0] = RumCoConut;

	  var fontSize = 60;
    </script>
    <main>
        <div class="container flex-column flex-container justify-space-between">
            <div>
                <img class="logo-img" src="../static/images/coco-taps.jpeg" alt="coco taps logo">
            </div>
            <div class="flex-container justify-center">
                <div class="border-box text-center text-container">
                    <h1>Place coconut in green circle and press here to start</h1>
                    <a href="{{ url_for('TapOrCutScreen', userselection='TapOrCutScreen') }}", method="GET" >
                      <p>PRESS</p>
                    </a>
                </div>
            </div>
            <div class="flex-container justify-center">
                <div class="cursor-pointer flex-container flex-column">
                    <img class="down-arrow" src="../static/images/stretched-down-arrow.png" alt="down arrow">
                    <img class="down-arrow" src="../static/images/stretched-down-arrow.png" alt="down arrow">
                    <img class="down-arrow" src="../static/images/stretched-down-arrow.png" alt="down arrow">
                </div>
            </div>
        </div>
    </main>
  </body>
</html>
